/* Estilo do formulário específico */
.form-container {
    background-color: #1c1c1c;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.3);
    margin: 30px auto;
    max-width: 600px; /* Largura máxima do formulário */
    width: 100%;
    text-align: center;
    color: #e0e0e0;
}

.form-container label {
    display: block;
    font-size: 1.2rem;
    color: #0f0;
    margin-bottom: 10px;
    text-align: left;
}

.form-container input[type="text"],
.form-container textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #444;
    background-color: #2a2a2a;
    color: #e0e0e0;
    margin-bottom: 20px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-container input[type="text"]::placeholder,
.form-container textarea::placeholder {
    color: #b0b0b0;
}

.form-container input[type="text"]:focus,
.form-container textarea:focus {
    border-color: #0f0;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

.form-container textarea {
    resize: none;
    height: 100px;
}

.form-container div {
    margin-bottom: 20px;
}

.form-container input[type="checkbox"] {
    margin-right: 10px;
}

.form-container button[type="submit"] {
    padding: 12px 25px;
    background-color: #0f0;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.form-container button[type="submit"]:hover {
    background-color: #33ff33;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.5);
}

.form-container span {
    color: #f00;
    font-size: 14px;
}
